.mainContainter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width:80%;
    height: 100vh;
    position: relative;
    margin: auto;
}
.card{
    /* border: solid black; */
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}
.backImg{
    width:40%;
    height: 50%;
}

.frontImg{
    width:40%;
    height: 50%;
}

.front{
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
}
.back{
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    text-align: center;
}

.flipCard{
    transform: rotateY(180deg);
}